@font-face {
    font-family: TradeGothicBold;
    src: url("Trade Gothic LT Bold.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

:root {
    font-family: Roboto, sans-serif;
    --brandDarkBlue: #1E3765;
    --brandMedBlue: #007FA3;
    --brandLightBlue: #6FC7EA;
    --brandPurple: #6D247A;
    --brandPink: #AB1368;
    --brandDarkGreen: #0D534D;
    --brandMedGreen: #00A189;
    --brandLightGreen: #8DBF2E;
    --brandRed: #DC4633; 
    --brandYellow: #F1C500;
    --brandBlack: #000000;
    --brandWhite: #ffffff;
    --brandGray: #D0D1C9;
    --brandGray70: #4d4d4d;
    --brandGray80: #333333;
    --brandGray90: #191919;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--brandWhite);
}

h1 {
    font-weight: normal;
    font-family: TradeGothicBold;
    font-size: 33.5px;
    line-height: 35px;
    color: var(--brandLightBlue);
    /* text-decoration: underline; */
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: solid 1px var(--brandLightBlue)
    /* background-color: var(--brandDarkBlue); */
}

h2 {
    font-weight: normal;
    font-family: TradeGothicBold, sans-serif;
    font-size: 18.5px;
    line-height: 25px;
    color: var(--brandPurple);
    /* font-style: italic; */
    padding-left: 20px;
    padding-bottom: 5px;
    /* border-bottom: solid 1px var(--brandLightBlue); */
}

h3 {
    font-family: TradeGothicBold;
    font-weight: normal;
    font-size: 20px;
    color: var(--brandDarkBlue);
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 15px;
    /* border-bottom: solid 2px var(--brandYellow); */
}

h4 {
    font-family: TradeGothicBold;
    font-weight: normal;
    font-size: 23px;
    color: var(--brandWhite);
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: solid 1px var(--brandDarkBlue);
    border-bottom: solid 3px var(--brandDarkBlue);
}

h5 {
    font-family: TradeGothicBold;
    font-weight: normal;
    font-size: 21px;
    color: var(--brandWhite);
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: solid 1px var(--brandDarkBlue);
}

p {
    font-family: Roboto;
    color: var(--brandDarkBlue);
    font-size: 16px;
    line-height: 24px;
}

a {
    color: var(--brandMedBlue);
    text-decoration: underline;
}

a:hover {
    color: var(--brandDarkBlue);
}

h3 a {
    color: var(--brandRed)
}

.text {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    max-width: 650px;
    color: white;
    border-left: solid 2px var(--brandGray90);
}

.text p {
    font-size: 17px;
    line-height: 24px;
    color: var(--brandGray90);
}

.text h1 {
    padding: 0px;
    margin-top: 10px;
    color: var(--brandGray90);
    font-size: 26px;
    border-bottom: solid 1px var(--brandGray);
}

.text h3 {
    padding: 2px;
    font-size: 12px;
    font-family: Roboto;
    color: var(--brandGray90);
    padding-bottom: 10px;
}

.bold {
    font-family: TradeGothicBold;
    color: var(--brandYellow);
}

.italic {
    color: var(--brandGray);
}

#note {
    color: var(--brandGray);
    font-size: 15px;
    text-align: right;
    opacity: 0.8;
}